# TODO: Update with exact module version
numpy==1.26
scipy==1.15.3
torch>=1.7

opencv_python
loguru
tqdm
torchvision
thop
ninja
tabulate
psutil
tensorboard
plotly
pyvista 


# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
onnx>=1.13.0
onnx-simplifier==0.4.10
--find-links https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu121_pyt210/download.html
pytorch3d==0.7.5
efficientnet_pytorch==0.7.1
timm==1.0.22